<div data-role="view" id="single-place" data-layout="default" class="place-view" data-show="app.Place.show">
    <header data-role="header">
        <div data-role="navbar">
            <h2 id="placeText">Info</h2>
            <a class="nav-button nav-button-back hide-text" data-align="left" data-role="backbutton">Back</a>
            <a class="nav-button nav-button-add hide-text" data-align="right" data-role="button" data-click="app.Place.navigateToReservation">Add</a>
        </div>
    </header>

    <div data-role="touch" class="cf">
        <div class="place-profile-picture">
            <img data-bind="attr:{src: PictureUrl()}" alt="styles/images/avatar.png" />
        </div>
        <div class="place-info">
            <h2 class="place-name"  data-bind='text: Name'></h2>
            <span class="place-address" data-bind="text: Address"></span>
            <p class="place-description" data-bind="text: Description"></p>
        </div>
    </div>
</div>
