<div data-role="view" id="view-all-places" data-layout="default" class="places-view" data-model="app.Places"
    data-init="app.Places.init">
    <header data-role="header">
        <div data-role="navbar">
            Favourite places
            <a class="nav-button nav-button-back hide-text" data-align="left" data-role="backbutton" data-click="app.Places.logout">Log out</a>
            <a class="nav-button nav-button-add hide-text" data-align="right" data-role="button" href="views/addActivityView.html">Add</a>
        </div>
    </header>

    <ul id="places-listview" data-style="inset" data-role="listview" data-template="placeTemplate"
        data-bind="source: places"></ul>
    <p id="no-places-span" hidden="hidden" class="no-items-msg">
        <b>You have no favourite places.</b><br /><br />Tap on the button to browse all available places.
    </p>
</div>

<!-- Activities ListView Template -->
<script type="text/x-kendo-template" id="placeTemplate">
    <div data-role="touch" data-bind="events: { tap: placeSelected }" class="cf">
        <div class="place-profile-picture">
            <img data-bind="attr:{src: PictureUrl()}" alt="styles/images/avatar.png" />
        </div>
        <div class="activity-content">
            <h2 class="place-name">${Name}</h2>
            <a class="place-address">${Address}</a>
        </div>
    </div>
</script>
